---
page_title: "koyeb Provider"
description: |-
  The Koyeb provider allows you to interact with the Koyeb API.
  
---

# Koyeb Provider

The [Koyeb](https://www.koyeb.com) provider is used to interact with the resources supported by Koyeb. The provider needs to be configured with the proper credentials before it can be used.

Use the navigation to the left to read about the available resources.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

